<h1>Share your B❤❤kmarx!</h1>

<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Url</th>
    <th>Submitted by</th>
  </tr>

<% @bookmarks.each do |bookmark| %>
  <tr>
    <td><%= bookmark.title %></td>
    <td><%= link_to bookmark.url, bookmark.url %></td>
    <td><%= link_to bookmark.user.username, profile_path(bookmark.user) %></td>
  </tr>
<% end %>
</table>

<br />

<% if current_user %>
  <%= link_to 'New Bookmark', new_bookmark_path, :class => 'btn' %>
<% end %>
